/* CSS files add styling rules to your content */

/*dark mode css*/
[data-theme="dark"] .navbar-light  {
  background-color: #222 !important;
  color: #fff !important;
}
[data-theme="dark"] .navbar-brand {
  color: #fff !important;
}
[data-theme="dark"] .nav-item {
  color: #fff !important;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-dark {
  background-color: #eee !important;
}
[data-theme="dark"] .container {
  background-color: #eee !important;


navbar-brand{
  font-weight: "bold";  
  }
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
.scroll{
    display:block;
    border: 1px solid red;
/*     padding:5px; */
/*     margin-top:5px; */
/*     width:10px; */
    height:200px;
    overflow:auto;
}